.footer__links > h1 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.footer__links > li {
  list-style: none;
  margin-bottom: 10px;
}
.footer__links > li > p {
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.footer__links > li > p:hover {
  color: #fb3640;
}

/* 1024 screen */
@media only screen and (max-width: 1024px) {
  .footer__links {
    width: 45%;
    margin: 0 10px 40px;
  }
}

/* 480 screen */
@media only screen and (max-width: 480px) {
  .footer__links {
    width: 100%;
  }
}
