/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 150px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

/* logo */
.navbar > .logo {
  text-decoration: none;
  font-family: "Noto Serif", serif;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
}
.navbar > .logo > span {
  color: #fb3640;
  font-family: "Noto Serif", serif;
}
.navbar > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* navlinks */
.navbar > div > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar > div > ul > li {
  list-style: none;
  margin: 0 40px;
}
.navbar > div > ul > li > .navlink {
  text-decoration: none;
  font-size: 1.3rem;
  color: #777777;
  transition: 0.3s;
  font-weight: bold;
}
.navbar > div > ul > li > .navlink:hover {
  color: #000;
}
.navbar > div > ul > li > .active__navlink {
  color: #fb3640;
}

/* authentication */
.navbar > div > .auth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar > div > .auth > button {
  border: none;
  outline: none !important;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar > div > .auth > button:hover {
  color: #fb3640;
}
.navbar > div > .auth > .signup {
  border: 1px solid #000;
  border-radius: 50px;
}
.navbar > div > .auth > .signup:hover {
  border: 1px solid #fb3640;
}
