/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 100px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

/* logo */
.navbar > .logo {
  text-decoration: none;
  font-family: "Noto Serif", serif;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
}
.navbar > .logo > span {
  color: #fb3640;
  font-family: "Noto Serif", serif;
}
.navbar > .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* navlinks */
.navbar > .links > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar > .links > ul > li {
  list-style: none;
  margin: 0 40px;
}
.navbar > .links > ul > li > .navlink {
  text-decoration: none;
  font-size: 1.3rem;
  color: #777777;
  transition: 0.3s;
  font-weight: bold;
}
.navbar > .links > ul > li > .navlink:hover {
  color: #000;
}
.navbar > .links > ul > li > .active__navlink {
  color: #fb3640;
}

/* authentication */
.navbar > .links > .auth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar > .links > .auth > button {
  border: none;
  outline: none !important;
  background: transparent;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 40px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar > .links > .auth > button:hover {
  color: #fb3640;
}
.navbar > .links > .auth > .signup {
  border: 1px solid #000;
  border-radius: 50px;
}
.navbar > .links > .auth > .signup:hover {
  border: 1px solid #fb3640;
}

/* menu icon */
.navbar > .navbar__menu {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* 1024 screen */
@media only screen and (max-width: 1024px) {
  /* navbar */
  .navbar {
    padding: 40px 60px;
  }

  .navbar > .links {
    position: fixed;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    transition: 0.7s;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }
  .navbar > .links__active {
    left: 0;
  }
  .navbar > .links::-webkit-scrollbar {
    display: none;
  }

  /* navlinks */
  .navbar > .links > ul {
    flex-direction: column;
  }
  .navbar > .links > ul > li {
    margin: 30px 0;
  }
  /* authentication */
  .navbar > .links > .auth {
    margin-top: 40px;
  }

  /* menu icon */
  .navbar > .navbar__menu {
    display: block;
  }
}

/* 768 screen */
@media only screen and (max-width: 768px) {
  /* navbar */
  .navbar {
    padding: 30px 60px;
  }

  .navbar > .links {
    width: 50%;
  }
}
